{% extends 'blog/layout.html' %}

{% block content %}
{% include 'blog/context.html' %}
<!--

Assignment:

In your individual web site, enhance your existing page about browser security to show users their current location on a map. Note that you must specify a height and width using CSS for the element in which you display the map; these dimensions can be any size you choose. Also enhance the page to display the user’s latitude, longitude, and altitude, with a label for each value.
-->
<h2 id="notsecure">This page requires a secure connection to view the assignment items, please click <strong><a href="https://morning-crag-93557.herokuapp.com/blog/chapter/10">here</a></strong> to view this page securley</h2>
<p class="card-text">
Below is a list of just some of the information that a website can gather about you just from visiting. Read more below about how to stay safe online.
  <ul>
    <li id="appName"></li>
    <li id="appVersion"></li>
    <li id="geoLocation"></li>
    <li id="onLine"></li>
    <li id="platform"></li>
    <li id="userAgent"></li>
    <li id="lat"></li>
    <li id="long"></li>
    <li id="alt"></li>
  </ul>

</p>

<p class='card-text'>"Clearing cookies that you don’t want or need is the best way to keep sites from tracking you once you’ve navigated to new, unrelated websites."<br><a href="https://www.secjuice.com/how-to-use-the-internet-safely/" target="_blank">SecJuice</a>
</p>
<p>"It is very easy to clone a real website and does not take a skilled developer long to produce a very professional-looking, but malicious site."<br><a href="https://www.getsafeonline.org/protecting-your-computer/safe-internet-use/" target="_blank">Get Safe Online</a>
</p>
<p>"Use strong unique passwords online. Learn how to create strong passwords and passphrases."<br><a href="https://www.staysmartonline.gov.au/protect-yourself/do-things-safely/browsing-web-safely" target="_blank">Stay Smart Online</a>
</p>

<div id="map" style="width: 100%; height: 50vh"></div>


<script>
  let latElement = document.getElementById("lat");
  let longElement = document.getElementById("long");
  let altElement = document.getElementById("long");

function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          latElement.innerHTML = "Geolocation is not supported by this browser.";
          longElement.innerHTML = "Geolocation is not supported by this browser.";
          altElement.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
function showPosition(position) {
      latElement.innerHTML = "Latitude: " + position.coords.latitude;
      longElement.innerHTML = "Longitude: " + position.coords.longitude;
      if(position.coords.altitude != null){
        altElement.innerHTML = "Altitude: " + position.coords.altitude;
      } else {
        altElement.innerHTML = "Altitude: not supported by your device";
      }

}

var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

function displayBrowserInformation(){
    var appName = document.getElementById("appName");
    var appVersion = document.getElementById("appVersion");
    var geoLocation = document.getElementById("geoLocation");
    var onLine = document.getElementById("onLine");
    var platform = document.getElementById("platform");
    var userAgent = document.getElementById("userAgent");

    appName.innerHTML = "Web browser name: " + navigator.appName;
    appVersion.innerHTML = "Web browser version: " + navigator.appVersion;
    geoLocation.innerHTML = "Location: " + navigator.geolocation;
    onLine.innerHTML = "Online Status: " + navigator.onLine;
    platform.innerHTML = "Operating platform: " + navigator.platform;
    userAgent.innerHTML = "User agent: " + navigator.userAgent;
}

function checkSecurity(){
  let notice = document.getElementById('notsecure');

  if (location.protocol === 'https:') {
    notice.style.display = "none";
  } else {
    notice.style.display = "block";
  }
}

function pageLoad(){
  checkSecurity();
  displayBrowserInformation();
  getLocation();

}

pageLoad();



</script>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp1LvTedZVQ7maqIhnLQci32nVnqh-lDM&callback=initMap">
 </script>
{% endblock %}
