{% extends 'blog/layout.html' %}

{% block content %}
{% include 'blog/context.html' %}
          <!-- Blog Post:

              Staying safe online has become a very in depth topic requring many different strategies to combine in order to remain safe. While many people understand that an email from some random person saying that if you give them $100 they will return to you $500 when they get into the United States is a scam, just as many people will actually fall for this. Understanding how to sort out legitimate emails, websites, and downloads is a skill learned over time, but I have gathered a few different sources that can help jump start your knowledge below.

              Assignment:

              Add a page to your individual website that educates visitors about web security. Report the values of at least six properties from Tables 5-10 and 5-11 to illustrate the breadth of information about a user’s computer that a web app can access. Perform a web search on practices for using the web safely, and include links to at least three sources, along with a one-sentence summary of each.
          !-->
            <p class="card-text">
            Below is a list of just some of the information that a website can gather about you just from visiting. Read more below about how to stay safe online.
              <ul>
                <li id="appName"></li>
                <li id="appVersion"></li>
                <li id="geoLocation"></li>
                <li id="onLine"></li>
                <li id="platform"></li>
                <li id="userAgent"></li>
              </ul>
            </p>
            <p class='card-text'>"Clearing cookies that you don’t want or need is the best way to keep sites from tracking you once you’ve navigated to new, unrelated websites."<br><a href="https://www.secjuice.com/how-to-use-the-internet-safely/" target="_blank">SecJuice</a>
            </p>
            <p>"It is very easy to clone a real website and does not take a skilled developer long to produce a very professional-looking, but malicious site."<br><a href="https://www.getsafeonline.org/protecting-your-computer/safe-internet-use/" target="_blank">Get Safe Online</a>
            </p>
            <p>"Use strong unique passwords online. Learn how to create strong passwords and passphrases."<br><a href="https://www.staysmartonline.gov.au/protect-yourself/do-things-safely/browsing-web-safely" target="_blank">Stay Smart Online</a>
            </p>
<script>
    function displayBrowserInformation(){
      var appName = document.getElementById("appName");
      var appVersion = document.getElementById("appVersion");
      var geoLocation = document.getElementById("geoLocation");
      var onLine = document.getElementById("onLine");
      var platform = document.getElementById("platform");
      var userAgent = document.getElementById("userAgent");

      appName.innerHTML = "Web browser name: " + navigator.appName;
      appVersion.innerHTML = "Web browser version: " + navigator.appVersion;
      geoLocation.innerHTML = "Location: " + navigator.geolocation;
      onLine.innerHTML = "Online Status: " + navigator.onLine;
      platform.innerHTML = "Operating platform: " + navigator.platform;
      userAgent.innerHTML = "User agent: " + navigator.userAgent;


    }

    displayBrowserInformation();


</script>

{% endblock %}
