{% extends 'blog/layout.html' %}

{% block content %}
{% include 'blog/context.html' %}
<!--

Assignment:

Enhance the personal website you’ve created in the preceding chapters of this book to prevent security issues. To do this, review each form field in your site and identify any additional validation that you could reasonably add. In particular, look for situations where you could use a regular expression to limit the allowable characters in order to exclude characters used in creating JavaScript code. Use word-processing software to create a table like Table - 9-4, which includes an example. Add a row for each form field in your website. See page 679 in your book.
-->


<div class='row'>
  <div class='col-12'>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">
          FILENAME
        </th>
        <th scope="col">
          FIELD LABEL
        </th>
        <th scope="col">
          VALIDATION PERFORMED BEFORE SUBMISSION
        </th>
        <th scope="col">
          VALIDATION LEFT TO WEB SERVER
        </th>
      </tr>
      </thead>
      <tr>
        <td>
          Ch4.html
        </td>
        <td>
          numberOfDays
        </td>
        <td>
          Numbers only
        </td>
        <td>
          None
        </td>
      </tr>
      <!-- One Row -->
      <tr>
        <td>
          Ch6.html
        </td>
        <td>
          text-box
        </td>
        <td>
          Contains @ symbol, has appropirate number of characters for a webaddress(ie .com is 3), contains a . in the @something.com portion.
        </td>
        <td>
          Verify the email is deliverable
        </td>
      </tr>
      <!-- End Row -->
      <tr>
        <td>
          Ch6.html
        </td>
        <td>
          select-box
        </td>
        <td>
          Something is selected
        </td>
        <td>
          Selected value is one of the availiable values
        </td>
      </tr>
      <tr>
        <td>
          Ch6.html
        </td>
        <td>
          text-area
        </td>
        <td>
          Contains more than 40 characters.
        </td>
        <td>
          Escape characters to prevent any scripting attacks
        </td>
      </tr>
      <tr>
        <td>
          Ch8.html
        </td>
        <td>
          text-box
        </td>
        <td>
          Contains @ symbol, has appropirate number of characters for a webaddress(ie .com is 3), contains a . in the @something.com portion.
        </td>
        <td>
          Verify the email is deliverable
        </td>
      </tr>
      <tr>
        <td>
          Ch8.html
        </td>
        <td>
          checkBoxs
        </td>
        <td>
          Something is checked
        </td>
        <td>
          Checked value is one of the availiable values
        </td>
      </tr>
      <tr>
        <td>
          Ch8.html
        </td>
        <td>
          text-area
        </td>
        <td>
          Contains more than 20 characters. Does not submit a value if Other is unchecked.
        </td>
        <td>
          Escape characters to prevent any scripting attacks
        </td>
      </tr>





      <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </table>
  </div>

</div>
{% endblock %}
